body{
    min-width: 1000px;
}

hr{
    border: solid 0;
    width: 1000px;
    height: 3px;
    background-color: #a9a9a9;
}

ul{
    margin-right: 0;
    padding-right: 0;
    width: 210px
}

.title{
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
}

.left-border{
    color: black;
    list-style: none;
    border: solid 2px #D2691E;
    width: 100px;
    height: 45px;
    float: center;
    line-height: 45px;
    margin: 30px 0 15px 100px;
    text-align: center;
}

a{
    display: block;
    color: black;
    text-decoration: none;
}

#water{
    margin-top: -40%;
    margin-left: 20%;
    border-collapse: collapse;
    border: black;
}